* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif; }
body {
  margin: 0; }

.wrapper {
  width: 800px;
  margin: 0 auto;
  max-width: 90%; }

#teach-dutch {
  height: 100vh; }
  #teach-dutch #previous_word, #teach-dutch #current_word {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: left; }
  #teach-dutch #previous_word {
    background-color: #F35C6E; }
  #teach-dutch #current_word {
    background-color: #f38643; }
  #teach-dutch h1 {
    font-size: 120px;
    font-weight: 300; }
