* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
body {
  margin: 0;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  max-width: 90%;
}

#teach-dutch {
  height:100vh;

  #previous_word, #current_word {
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    float: left;
  }
  #previous_word {
    background-color: #F35C6E;
  }
  #current_word {
    background-color: #f38643;
  }
  h1 {
    font-size: 120px;
    font-weight: 300;
  }
}
